<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-end my-3">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="prev()">Previous</a>
    </li>

    <li
      class="page-item"
      *ngFor="let page of pages"
      [class.active]="page === currentPage"
      [class.disabled]="page === '...'"
    >
      <a class="page-link" *ngIf="page !== '...'" (click)="goToPage(page)">{{ page }}</a>
      <span class="page-link" *ngIf="page === '...'">...</span>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="next()">Next</a>
    </li>
  </ul>
</nav>
