<nav class="bg-primary border-end vh-100" style="border-top: 1px solid white;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/sale" routerLinkActive="active" class="nav-link">Sales</a>
    </li>
    <li class="nav-item">
      <a routerLink="/purchase" routerLinkActive="active" class="nav-link">Purchase</a>
    </li>
    <li class="nav-item">
      <a routerLink="/medicines" routerLinkActive="active" class="nav-link">Medicines</a>
    </li>
    <li class="nav-item">
      <a routerLink="/supplier" routerLinkActive="active" class="nav-link">Supplier</a>
    </li>
    <li class="nav-item">
      <a routerLink="/reports" routerLinkActive="active" class="nav-link">Reports</a>
    </li>
  </ul>
</nav>