<nav class="bg-light border-end vh-100 p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sales" routerLinkActive="active" class="nav-link">Sales</a>
      </li>
      <li class="nav-item">
        <a routerLink="/purchase" routerLinkActive="active" class="nav-link">Purchase</a>
      </li>
      <li class="nav-item">
        <a routerLink="/inventory" routerLinkActive="active" class="nav-link">Inventory</a>
      </li>
      <li class="nav-item">
        <a routerLink="/reports" routerLinkActive="active" class="nav-link">Reports</a>
      </li>
    </ul>
  </nav>
  